.env
.DS_Store
__pycache__/
*.pyc
backend/venv/
backend/.venv/
.vercel
.env*.local
.playwright-cli/
node_modules/
.next/
out/
template/
authflows/
*.tsbuildinfo

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
public/medication-search/
